@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-vtt-text-secondary);
  transition: background-color 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-vtt-tertiary1);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-evenly {
  justify-content: space-around;
}

.gap-4 {
  gap: 1rem;
}
